
h1{
	 padding: 0.1em;
	 /* background-color: DodgerBlue; */
	 background-color: white;
	 clear: left;
	 font-size: 6vw;
	 text-align: center;
	 
	 /* https://css-tricks.com/adding-stroke-to-web-text/ */
	 text-shadow:
   -1px -1px 0 #656565,  
    1px -1px 0 #656565,
    -1px 1px 0 #656565,
     1px 1px 0 #656565;
}

.center{
	 display: block;
	 margin-left:auto;
	 margin-right:auto;
}

#mapAndInfoHolder{
	 padding: 0.5em;
}

footer {	
	clear: left;
	color: rgb(0,255,255);
	background-color: black;
	font-size:2vw;
	padding: 0.4em;
	text-align: center;	
}

table, th, td {
    border: 1px solid black;
	margin-left:auto; 
    margin-right:auto;
}

th{
	text-align : center;
	font-size:20px;
	text-indent: 15px;
	vertical-align: middle;
}

td{
	text-indent : 5px;
	vertical-align: middle;
}
	